@import './variables';

@mixin displayFlexCenter($property1, $property2) {
  display: flex;
  flex-direction: $property1;
  justify-content: $property2;
  align-items: center;
}

@mixin buttonBaseOrange(){
  width: fit-content;
  border: none;
  background-color:$backgroundButton;
  color: $white;
  border-radius: 50px;
  padding: 7px 12px;
  outline-style: none;
  text-decoration: none;
  cursor: pointer;
}