#infosContainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  text-align: center;
}
#descIngContainer{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 376px) {
  #infosContainer{
    padding: 0 32px;
    text-align: center;
  }

}