#obj3D{
  width: 514px;
  height: 334px;
  outline-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  background-color: lightpink;
  border-radius: 30px;
}
#buttonRotation{
  width: fit-content;
  border: none;
  background-color: rgb(255, 181, 52);
  color: white;
  border-radius: 50px;
  padding: 7px 32px;
  margin-top: 17px;
  outline-style: none;
}