.productCard{
  background-color: #ffb534;
  background-color: #ffb534;
  border-radius: 20px;
  padding: 13px;
  cursor: pointer;
  width: 17%;
  height: 34%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productCard:hover{
  background-color: #ffc868;
}
.productCard h2{
  color: white;
  margin: 0;
}
.productCard span{
  margin: 10px 0 0 0;
}
.productCard p{
  color: white;
}
