@import '../utilities/mixins';
@import '../utilities/variables';

.productCard{
  @include displayFlexCenter(column,center);
  background-color: $backgroundButton;
  border-radius: 20px;
  padding: 13px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 32px;
}
#productCardAccueil{
  height: 170px;
  margin-bottom: 22px;
}
.productCard:hover{
  background-color: $orangeHover;
}
.productCard h2{
  color: $white;
  font-size: 12px;
  margin: 8px 0 0 0;
}
.productCard span{
  font-size: 12px;
  color: $black;
}
.productCard p{
  color: $white;
}
#containerProducts{
  width: 90%;
  @include displayFlexCenter(row,space-evenly);
  flex-wrap: wrap;
  margin: 30px 0;
}

#divAllProductsAccueil{
  @include displayFlexCenter(column,space-evenly);
  width: 100%;
}

@media screen and (min-width: 376px) {
  #divAllProductsAccueil{
    @include displayFlexCenter(row,space-evenly);
  }
  #productCardAccueil{
    margin-bottom: 0px;
  }
  .productCard{
    margin-bottom: 0px;
  }
}